@{
    ViewData["Title"] = "A propos";
}
<h1>@ViewData["Title"]</h1>


TP ASP.NET - WebApp Restaurants <br /><br /> Macha JUMELIN EPSI B3<br /><br />
    
    => Le bouton "import" pour le JSON ne fait que générer une liste de restaurants à partir d'un fichier JSON présent dans l'application sous webAppRestaurants/Json/Ressources;<br /><br />   
    => Je reviens sur ce que je viens de dire, il fonctionnait bien. Je viens de le casser à l'instant, mais  je n'ai plus le temps de le réparer. <br /><br />
    => L'export ne fonctionne pas <br /><br />
    => Mon plan était de faire deux tests par méthode du RestaurantService (sous forme de testThisTrue() et testThisFalse() pour tester un cas normal et un cas d'erreur), malheureusement même avec le délais supplémentaire je n'ai pas eu le temps <br/><br />
    => Les notes s'affichent correctement lorsque je les créee directement depuis ma BDD dans une requête (mon jeu de test est sous App.Data/Db/Resources)<br /><br />
    => Cependant, je n'ai pas réussi vraiment à faire fonctionner la gestion des notes 
</p>
